body {
	font-size: 80%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.15em;	
	background-color: #efefef;}
	#page {
		max-width: 940px;
		min-width: 720px;
		margin: 10px auto 10px auto;
		padding: 20px;
		border: 4px double #000;
		background-color: #ffffff;
		text-align: center;}
	#logo {
		width: 150px;
		margin: 10px auto 25px auto;
		text-align: center;
		}
	img.coffee_logo{
		width: 50px;
		height: 50px;
		margin: 0 auto 0 auto;
	}
	img.technology_image{
		width: 600px;
		height: 400px;
		
		border: 1px double black;
	}
	
	ul {
		width: 570px;
		padding: 15px;
		margin: 20px auto 20px auto;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		text-align: center;}
	li {
		display: inline-block;
		margin: 10px 8px;
		}
	p {
		text-align: center;
		width: 80%; 
		margin: 20px auto 20px auto; 
		font-weight: normal;}
	a {
		color: #000000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 6px 18px 5px 18px;}
		a:hover, a.on {
			color: #cc3333;
			background-color: #ffffff;}